  @media only screen and (max-width: 600px){

    .header-main-box {
        padding: 0 29px;
    }
    .width-9-percent {
        width: 10%;
    }

    .project-single-box {
    width: 47%;
}

.project-main-box {
    margin: 50px;
}

.slider-main {
    padding: 0 50px;
}

.project-name>h2>a {
    color: white;
    font-size: 25px;
}

.project-name>h2 {
    margin-top: 13px;
}

.background-color-green-2 {
    background-color: #82e0aa;
    width: 1400px;
}

.social-media {
    padding: 0 0 50px 50px;
}

.footer-four-box {
    padding: 30px 0 50px 50px;
}

  }


  
