  @media only screen and (max-width:767px){


    /* body {
        background: red;
    } */

    .header-main-box {
        padding: 0 29px;
    }
    .width-9-percent {
        width: 10%;
    }

    .project-single-box {
    width: 47.5%;
}

.width-5-percent {
    width: 9%;
}

.margin-top-18px {
    margin-top: 18px !important;
}

.footer-single-text {
    text-align: justify;
}

.social-media {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    display: flex;
}

.social-media>nav>ul>li {
    width: 30px;
    height: 30px;
}

.social-media>nav>ul>li>a {
    font-size: 17px;
}

.footer-single-first-box {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 25px;
    padding: 0 25px;
}

.footer-single-heading.margin-bottom-10px {
    font-size: 14px;
}


.footer-three-box.display-flex.justify-content-between {
    width: 100%;
    padding: 0 25px;

}

.slider-main .bx-wrapper {
    margin-bottom: 0;
}


.project-name>h2>a {
    font-size: 18px;
        color: white;
        margin-top: 10px;

}

.footer-single-heading.margin-bottom-10px>h2>a {
    font-size: 20px;
}

.three-box-width-30-precent {
    width: 30%;
}

.project-main-box {
    margin: 25px;
}

.slider-main {
    padding: 0 25px;
}

.my-project>h2>a {
    color: white;
    font-size: 32px;
}


.background-color-green-2 {
    background-color: #82e0aa;
    
}

.social-media {
    padding: 0 0 25px 25px;
}

.footer-four-box {
    padding: 30px 0 25px 25px;
}

.width-1400px{
    width: auto;
}

.footer-four-box {
    display: inline;
}

.header-nav-bar>nav>ul>li>a {
    font-size: 18px;
}

  }


  
  @media only screen and (max-width:480px){ 
    .d-flex-direction-column-mobile-version{
        flex-direction: column;
    }
  }
